Taller Aplicado de Pivot Tables, Tablas de Contingencia y Melts

In [ ]:
!wget https://github.com/javierherrera1996/lecture_analytics/raw/refs/heads/main/time_series.zip
!unzip time_series.zip
!cp -r time_series/* ./

--2024-10-03 21:25:11--  https://github.com/javierherrera1996/lecture_analytics/raw/refs/heads/main/time_series.zip
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/javierherrera1996/lecture_analytics/refs/heads/main/time_series.zip [following]
--2024-10-03 21:25:12--  https://raw.githubusercontent.com/javierherrera1996/lecture_analytics/refs/heads/main/time_series.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15602616 (15M) [application/zip]
Saving to: ‘time_series.zip.1’

time_series.zip.1   100%[===================>]  14.88M  --.-KB/s    in 0.05s

2024-10-03 21:25:12 (290 MB/s) - ‘time_series.zip.1’ saved [15602616/15602616]

Archive:  time_series.zip
replace time_series/fundamentals.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

Contexto del Taller
Tienes datos históricos de precios y volumen de transacciones de acciones de una empresa (AAPL). El objetivo es utilizar herramientas como pivot tables, tablas de contingencia y melts en Python para realizar un análisis exploratorio que pueda influir en decisiones de inversión o identificar tendencias.

Preguntas de Pivot Tables (Enfocadas a Negocio)
Calcula el volumen promedio de transacciones por mes para la acción AAPL.

Contexto de negocio: El volumen mensual te ayuda a entender la liquidez de la acción y detectar patrones de alta actividad.

In [27]:
import pandas as pd
data = pd.read_csv('prices.csv')
data.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

Calcula el precio promedio de apertura y cierre por día de la semana.

Contexto de negocio: Esto puede ayudar a identificar si hay días de la semana en los que la acción tiende a abrir o cerrar con precios más altos.

In [28]:
import pandas as pd

df = pd.read_csv('prices.csv')

print("Nombres de las columnas:", df.columns)

print(df.head())
print(df.tail())

df['date'] = pd.to_datetime(df['date'], errors='coerce')

df = df.dropna(subset=['date'])

df.loc[:, 'Month'] = df['date'].dt.to_period('M')

pivot_table = df.pivot_table(values='volume', index='Month', aggfunc='mean')

print(pivot_table)

Nombres de las columnas: Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')
                  date symbol        open       close         low        high  \
0  2016-01-05 00:00:00   WLTW  123.430000  125.839996  122.309998  126.250000
1  2016-01-06 00:00:00   WLTW  125.239998  119.980003  119.940002  125.540001
2  2016-01-07 00:00:00   WLTW  116.379997  114.949997  114.930000  119.739998
3  2016-01-08 00:00:00   WLTW  115.480003  116.620003  113.500000  117.440002
4  2016-01-11 00:00:00   WLTW  117.010002  114.970001  114.089996  117.330002

      volume
0  2163600.0
1  2386400.0
2  2489500.0
3  2006300.0
4  1408600.0
                       date symbol        open       close         low  \
851259           2016-12-30    ZBH  103.309998  103.199997  102.849998
851260           2016-12-30   ZION   43.070000   43.040001   42.689999
851261           2016-12-30    ZTS   53.639999   53.529999   53.270000
851262  2016-12-30 00:00:00    AIV   44.730000   45.450001   44.410000
851263  2016-12-30 00:00:00    FTV   54.200001   53.630001   53.389999

              high     volume
851259  103.930000   973800.0
851260   43.310001  1938100.0
851261   53.740002  1701200.0
851262   45.590000  1380900.0
851263   54.480000   705100.0
               volume
Month
2010-01  2.435384e+06
2010-02  2.366379e+06
2010-03  1.896691e+06
2010-04  2.411843e+06
2010-05  3.047175e+06
...               ...
2016-08  1.187067e+06
2016-09  1.170748e+06
2016-10  1.166019e+06
2016-11  1.361879e+06
2016-12  1.219319e+06

[84 rows x 1 columns]

In [30]:
import pandas as pd

df['Day of Week'] = df['date'].dt.dayofweek
pivot_table_open_close = df.pivot_table(values=['open', 'close'], index='Day of Week', aggfunc='mean')
print(pivot_table_open_close)

bins = [0, 100, 150, 200, float('inf')]
labels = ['0-100', '100-150', '150-200', '>200']
df['Open Price Range'] = pd.cut(df['open'], bins=bins, labels=labels)

crosstab_open_range_month = pd.crosstab(df['Month'], df['Open Price Range'])
print(crosstab_open_range_month)

melted_df = pd.melt(df, id_vars=['date'], value_vars=['open', 'close'], var_name='Price Type', value_name='Price')
print(melted_df.head())

                 close       open
Day of Week
0            42.074497  42.023794
1            42.563750  42.520841
2            42.536023  42.547250
3            42.497981  42.438863
4            42.531558  42.542581
Open Price Range  0-100  100-150
Month
2010-01              19        0
2010-02              19        0
2010-03              23        0
2010-04              21        0
2010-05              20        0
...                 ...      ...
2016-08              46       23
2016-09              42       21
2016-10              42       21
2016-11              42       21
2016-12              42       21

[84 rows x 2 columns]
        date Price Type       Price
0 2016-01-05       open  123.430000
1 2016-01-06       open  125.239998
2 2016-01-07       open  116.379997
3 2016-01-08       open  115.480003
4 2016-01-11       open  117.010002

Calcula el volumen total de transacciones por día de la semana y compara la actividad entre días.

Contexto de negocio: Saber qué días tienen mayor actividad puede ayudarte a decidir cuándo realizar compras o ventas estratégicas.

In [34]:
import pandas as pd
pivot_table_volume_day = df.pivot_table(values='volume', index='Day of Week', aggfunc='sum')
print(pivot_table_volume_day)


day_with_max_volume = pivot_table_volume_day['volume'].idxmax()
print(f"El día con el mayor volumen de transacciones es: {day_with_max_volume}")

day_with_min_volume = pivot_table_volume_day['volume'].idxmin()
max_volume = pivot_table_volume_day.loc[day_with_max_volume]['volume']
min_volume = pivot_table_volume_day.loc[day_with_min_volume]['volume']
percentage_difference = ((max_volume - min_volume) / min_volume) * 100
print(f"Diferencia porcentual entre el día con mayor y menor volumen: {percentage_difference:.2f}%")


crosstab_volume_day_open_range = pd.crosstab(df['Day of Week'], df['Open Price Range'], values=df['volume'], aggfunc='sum')
print(crosstab_volume_day_open_range)

                  volume
Day of Week
0            512724700.0
1            630973200.0
2            620850100.0
3            609506900.0
4            646359800.0
El día con el mayor volumen de transacciones es: 4
Diferencia porcentual entre el día con mayor y menor volumen: 26.06%
Open Price Range        0-100     100-150  150-200  >200
Day of Week
0                 482355300.0  30369400.0      0.0   0.0
1                 590007000.0  40966200.0      0.0   0.0
2                 580518200.0  40331900.0      0.0   0.0
3                 571715800.0  37791100.0      0.0   0.0
4                 598625500.0  47734300.0      0.0   0.0

Calcula los precios máximos y mínimos de apertura por mes.

Contexto de negocio: Esto te permitirá evaluar la volatilidad mensual de la acción.

In [66]:
pivot_table_open_minmax = df.pivot_table(values='open', index='Month', columns="symbol", aggfunc=['min', 'max'])
print(pivot_table_open_minmax)

               min                               max
symbol         AIV        FTV        WLTW        AIV        FTV        WLTW
Month
2010-01  15.380000        NaN         NaN  17.100000        NaN         NaN
2010-02  15.380000        NaN         NaN  16.799999        NaN         NaN
2010-03  16.760000        NaN         NaN  18.799999        NaN         NaN
2010-04  18.620001        NaN         NaN  22.100000        NaN         NaN
2010-05  18.410000        NaN         NaN  23.330000        NaN         NaN
...            ...        ...         ...        ...        ...         ...
2016-08  43.759998  47.500000  119.570000  46.049999  53.669998  124.180000
2016-09  43.490002  49.980000  121.709999  47.820000  53.500000  129.169998
2016-10  41.939999  47.689999  125.889999  45.689999  51.259998  132.449997
2016-11  40.009998  50.290001  117.010002  44.910000  56.080002  126.519997
2016-12  41.599998  53.509998  120.690002  44.860001  55.240002  126.449997

[84 rows x 6 columns]

In [67]:
pivot_table_open_minmax.to_csv('open_minmax.csv')

Calcula el volumen promedio por mes y acción (suponiendo que tienes datos de múltiples acciones).

Contexto de negocio: Esta información te ayuda a comparar la liquidez de diferentes acciones a lo largo del tiempo.

In [39]:
pivot_table_volume_ticker = df.pivot_table(values='volume', index='Month', columns='symbol', aggfunc='mean')
print(pivot_table_volume_ticker)

symbol            AIV           FTV           WLTW
Month
2010-01  2.435384e+06           NaN            NaN
2010-02  2.366379e+06           NaN            NaN
2010-03  1.896691e+06           NaN            NaN
2010-04  2.411843e+06           NaN            NaN
2010-05  3.047175e+06           NaN            NaN
...               ...           ...            ...
2016-08  1.184600e+06  1.745757e+06  630843.478261
2016-09  1.410038e+06  1.353395e+06  748809.523810
2016-10  1.462195e+06  1.446014e+06  589847.619048
2016-11  1.693795e+06  1.495057e+06  896785.714286
2016-12  1.305529e+06  1.588829e+06  763600.000000

[84 rows x 3 columns]

Calcula el precio de cierre promedio de la acción AAPL por mes, y agrega una columna con el total de transacciones en cada mes.

Contexto de negocio: Esto te permite comparar el comportamiento de los precios con el volumen de transacciones, para entender si hay algún patrón de venta o compra en función del precio.

In [40]:
pivot_table_close_volume = df.pivot_table(values=['close', 'volume'], index='Month', aggfunc={'close': 'mean', 'volume': 'sum'})
print(pivot_table_close_volume)

             close      volume
Month
2010-01  16.261579  46272300.0
2010-02  16.145263  44961200.0
2010-03  17.922609  43623900.0
2010-04  20.528572  50648700.0
2010-05  21.345500  60943500.0
...            ...         ...
2016-08  72.953188  81907600.0
2016-09  74.463016  73757100.0
2016-10  73.654603  73459200.0
2016-11  72.846508  85798400.0
2016-12  73.476984  76817100.0

[84 rows x 2 columns]

Preguntas de Tablas de Contingencia (Aplicadas a Negocios)
Crea una tabla de contingencia para contar cuántos días el precio de apertura fue mayor o igual a $155 y cuántos días fue menor a $155.

Contexto de negocio: Esto te ayuda a entender cómo se distribuyen los precios de apertura alrededor de un umbral crítico de $155.

In [41]:
import pandas as pd
contingency_table_open_price = pd.crosstab(df['open'] >= 155, columns='Count')
print(contingency_table_open_price)

col_0  Count
open
False   2139

Genera una tabla de contingencia para contar cuántos días el volumen de transacciones fue mayor o igual a 75 millones y cuántos días fue menor.

Contexto de negocio: Identificar días de alto volumen de transacciones es clave para entender cuándo hubo más interés en la compra/venta de la acción.

In [42]:
import pandas as pd
contingency_table_volume = pd.crosstab(df['volume'] >= 75000000, columns='Count')
print(contingency_table_volume)

col_0   Count
volume
False    2139

Crea una tabla de contingencia que muestre cuántos días el precio de cierre fue mayor o igual al precio de apertura, y cuántos días fue menor.

Contexto de negocio: Saber en cuántos días la acción cerró por encima o por debajo del precio de apertura puede darte una idea general del rendimiento de la acción.

In [43]:
import pandas as pd
contingency_table_close_open = pd.crosstab(df['close'] >= df['open'], columns='Count')
print(contingency_table_close_open)

col_0  Count
row_0
False    960
True    1179

Añade márgenes (totales) a la tabla de contingencia anterior para conocer el total de días con subidas y bajadas de precio.

Contexto de negocio: Analizar cuántos días en general la acción tuvo subidas o bajadas te da un panorama más amplio del comportamiento de la acción.

In [51]:
import pandas as pd
contingency_table_close_open_with_margins = pd.crosstab(df['close'] >= df['open'], df["Month"], margins=True)
print(contingency_table_close_open_with_margins)

Month  2010-01  2010-02  2010-03  2010-04  2010-05  2010-06  2010-07  2010-08  \
row_0
False       13        7        7        8       13       10       10        8
True         6       12       16       13        7       12       11       14
All         19       19       23       21       20       22       21       22

Month  2010-09  2010-10  ...  2016-04  2016-05  2016-06  2016-07  2016-08  \
row_0                    ...
False       11        8  ...       13       14       18       29       29
True        10       13  ...       29       28       26       30       40
All         21       21  ...       42       42       44       59       69

Month  2016-09  2016-10  2016-11  2016-12   All
row_0
False       25       40       28       34   960
True        38       23       35       29  1179
All         63       63       63       63  2139

[3 rows x 85 columns]

Crea una tabla de contingencia que compare cuántos días el precio de apertura fue mayor o igual a $155 y al mismo tiempo el precio de cierre ajustado fue mayor o menor a $155.

Contexto de negocio: Esto permite identificar patrones donde el precio de apertura y el precio de cierre ajustado cruzan umbrales críticos, lo que es útil para ajustes en las estrategias de compra/venta.

In [46]:
import pandas as pd
contingency_table_open_adjclose = pd.crosstab(df['open'] >= 155, df['close'] >= 155)
print(contingency_table_open_adjclose)

close  False
open
False   2139

Preguntas de Melts (Aplicadas a Negocios)
Transforma las columnas de precios (Open, Close, High, Low) en una única columna llamada Precio, manteniendo la fecha (Date) y el tipo de acción (Stock).

Contexto de negocio: Este formato largo es ideal para realizar visualizaciones comparativas de diferentes precios de la acción a lo largo del tiempo.

In [53]:
import pandas as pd
melted_df_prices = pd.melt(df, id_vars=['date', 'symbol'], value_vars=['open', 'close', 'high', 'low'], var_name='Price Type', value_name='Price')
print(melted_df_prices.head())

        date symbol Price Type       Price
0 2016-01-05   WLTW       open  123.430000
1 2016-01-06   WLTW       open  125.239998
2 2016-01-07   WLTW       open  116.379997
3 2016-01-08   WLTW       open  115.480003
4 2016-01-11   WLTW       open  117.010002

In [54]:
print(f"Número de filas en melted_df_prices: {len(melted_df_prices)}")
print(f"Número de filas en df original: {len(df)}")
print(f"Tipos de precios únicos: {melted_df_prices['Price Type'].unique()}")

Número de filas en melted_df_prices: 8556
Número de filas en df original: 2139
Tipos de precios únicos: ['open' 'close' 'high' 'low']

Convierte todas las columnas del dataset, excepto Date y Stock, en un formato largo usando melt.

Contexto de negocio: Tener todas las variables en un formato largo es útil para generar reportes dinámicos que comparen diferentes tipos de datos (precios, volumen, etc.).

In [58]:
import pandas as pd
melted_df_all = pd.melt(df, id_vars=['date', 'symbol'], var_name='Variable', value_name='Value')
print(melted_df_all.head())

        date symbol Variable       Value
0 2016-01-05   WLTW     open      123.43
1 2016-01-06   WLTW     open  125.239998
2 2016-01-07   WLTW     open  116.379997
3 2016-01-08   WLTW     open  115.480003
4 2016-01-11   WLTW     open  117.010002

[texto del vínculo](https://)Usa melt para convertir los precios (Open, Close, High, Low) y el volumen (Volume) en una sola columna de valor. Luego, agrupa los datos por tipo de precio y acción para calcular el promedio de cada tipo.

Contexto de negocio: Este análisis permite comparar el comportamiento de diferentes precios y el volumen en un solo análisis, lo cual es útil para entender tendencias generales de la acción.

In [59]:
import pandas as pd
melted_df_prices_volume = pd.melt(df, id_vars=['date', 'symbol'], value_vars=['open', 'close', 'high', 'low', 'volume'], var_name='Price_Volume_Type', value_name='Value')
average_prices_volume = melted_df_prices_volume.groupby(['Price_Volume_Type', 'symbol'])['Value'].mean()
print(average_prices_volume)

Price_Volume_Type  symbol
close              AIV       3.045745e+01
                   FTV       5.167460e+01
                   WLTW      1.219830e+02
high               AIV       3.074775e+01
                   FTV       5.220779e+01
                   WLTW      1.230448e+02
low                AIV       3.013033e+01
                   FTV       5.111503e+01
                   WLTW      1.206172e+02
open               AIV       3.043641e+01
                   FTV       5.161262e+01
                   WLTW      1.219432e+02
volume             AIV       1.468346e+06
                   FTV       1.872990e+06
                   WLTW      7.856291e+05
Name: Value, dtype: float64

Realiza una transformación melt para convertir los precios en una columna y agrúpalos por día para calcular el precio promedio diario de la acción.

Contexto de negocio: Esto proporciona una visión agregada del comportamiento promedio de los precios diarios de la acción.

In [60]:
import pandas as pd
melted_df_daily_avg = pd.melt(df, id_vars=['date'], value_vars=['open', 'close', 'high', 'low'], var_name='Price Type', value_name='Price')
daily_average_price = melted_df_daily_avg.groupby('date')['Price'].mean()
print(daily_average_price)

date
2010-01-04    16.067500
2010-01-05    16.172500
2010-01-06    16.565000
2010-01-07    16.910000
2010-01-08    16.942500
                ...
2016-12-23    74.248333
2016-12-27    74.510834
2016-12-28    73.871667
2016-12-29    73.597499
2016-12-30    73.808333
Name: Price, Length: 1762, dtype: float64